@media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]:after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
  
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    img {
      max-width: 100% !important;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
  .article-body pre,
  .article-body code {
    font-family: Menlo, Monaco, "Courier New", monospace;
  }
  
  .article-body pre {
    padding: .5rem;
    overflow-x: scroll;
  }
  
  .article-body p {
    margin-bottom: 1.3rem;
  }
  
  .article-body h1,
  .article-body h2,
  .article-body h3,
  .article-body h4 {
    margin: 1.414rem 0 .5rem;
    font-weight: inherit;
  }
  
  .article-body h1 {
    margin-top: 0;
    font-size: 2.4rem;
  }
  
  .article-body h2 {
    font-size: 2rem;
  }
  
  .article-body h3 {
    font-size: 1.6rem;
  }
  
  .article-body h4 {
    font-size: 1.3rem;
  }
  
  .article-body h5 {
    font-size: 1rem;
  }
  
  .article-body h6 {
    font-size: .7rem;
  }
  
  .article-body small {
    font-size: .6em;
  }
  

  // tables //
  .article-body table {
    margin: 0 auto;
  }

  .article-body th {
    letter-spacing: 2px;
    background-color: $c-orange;
  }
  
  .article-body td {
    letter-spacing: 1px;
    padding: 5px;
  }
  
  .article-body tbody td {
    border-radius: 2px;
    text-align: center;
  }
  
  .article-body tfoot th {
    text-align: right;
  }

  .article-body tbody tr:nth-child(odd) {
    background-color: $c-yellow;
  }
  
  .article-body tbody tr:nth-child(even) {
    background-color: $c-yellow-light;
  }
  
  .article-body img {
    width: 100%;
    height: auto;
    margin: 10px 0 10px 0;
    border: 3px solid $c-white;
    box-sizing: border-box;
    box-shadow: $Shadow-base;
    border-radius: 7px;
  }

  .article-body blockquote {
    border-left: 10px solid $c-purple-dimmed;
    padding: 0 0 0 1rem;
    font: $f-quote;
    font-style: italic;
  }
  .article-body blockquote p {
    margin: 0 auto;
  }
  
  .article-body pre,
  .article-body code {
    background-color: #fafafa;
  }

  ol, ul {
    list-style: disc;
    line-height: 1;
  }