$c-white: #fdfdfd;
$c-purple-light: #ceb2f6;
$c-purple: #6013cc;
$c-black: #3c3c3c;
$c-black: #f0f0f0;
$c-yellow-light: #fffac5;
$c-yellow: #fff36a;
$c-orange: #ffb153;
$c-green-dark: #244627;
$c-green: #accd6b;
$c-gray: #dbdbdb;

$space-gradient: linear-gradient(45deg, #6013cc, #308bc7, #6013cc, #ceb2f6);

$Shadow-base: 0px 2px 5px rgba(0,0,0,0.5);

$f-p: 16px 'Raleway', sans-serif;
$f-link: 16px 'Raleway', sans-serif;
$f-a: 30px 'Raleway', sans-serif;
$f-a-mob: 20px 'Raleway', sans-serif;
$f-h1: 500 45px 'Raleway', sans-serif;
$f-h1-mob: 400 30px 'Raleway', sans-serif;
$f-h2: 400 18px 'Raleway', sans-serif;

$b-radius: 10px;
$b-accent: 7px solid $c-green;
$b-hair: 1px solid $c-gray;