$c-white: #fdfdfd;
$c-purple-light: #a774ff;
$c-purple: #5f2fc4;
$c-purple-dimmed: #6013cd96;
$c-aqua: #aefff0;
$c-aqua-dimmed: #aefff0b5;

$c-blue-twitter: #00aced;
$c-blue-twitter-hover: #1dcaff;

$c-black: #3c3c3c;
$c-gray-dimmed: #f0f0f067;
$c-gray-light: #f0f0f0;
$c-gray: #dbdbdb;
$c-gray-dark: #686868;
$c-yellow-light: #fff799;
$c-yellow: #fff36a;
$c-orange: #ffad6e;
$c-orange-dimmed: #ffcf67d4;
$c-orange-hover: #ffb781;
$c-red: #ff713d;
$c-red-dimmed: #ff713d9f;
$c-pink: #f874ff;
$c-pink-dimmed: #f874ffde;
$c-green-dark: #244627;
$c-green: #accd6b;

$space-gradient: linear-gradient(90deg #6013cc, #308bc7, #6013cc, #b2c8f6);
$nav-gradient: linear-gradient(-90deg, $c-purple 60%, $c-purple-light 90%);
$dimm-gradient: linear-gradient(transparent, $c-white);

$Shadow-base: 0px 2px 5px rgba(0, 0, 0, 0.3);
$Shadow-card: 0px 1px 3px rgba(0, 0, 0, 0.2);
$Shadow-text-white: 0px 0 5px #fff;

$f-p: 16px 'Raleway', sans-serif;
$f-p-b: 500 18px 'Raleway', sans-serif;

$f-line: 1.5;
$f-line-h1: 1.2;
$f-l-spacing: 1.3px;
$f-l-spacing-hi: 3.5px;

$f-link: 14px 'Raleway', sans-serif;
$f-a: 18px 'Raleway', sans-serif;
$f-a-mob: 20px 'Raleway', sans-serif;
$f-quote: 20px 'Raleway', sans-serif;
$f-h1: 55px 'Istok Web', sans-serif;
$f-h1-mob: 400 30px 'Istok Web', sans-serif;
$f-h2-logo: 40px 'Lato', sans-serif;
$f-h2: 18px 'Istok Web', sans-serif;
$f-title: 24px 'Istok Web', sans-serif;

$b-radius: 4px;
$b-accent: 7px solid $c-purple;
$b-hair: 1px solid $c-gray-light;