@import 'reset';
@import 'var';
@import 'markdown';
@import 'home';

@import url("https://fonts.googleapis.com/css?family=Raleway:400,500");


html {
  box-sizing: border-box;
  height: 100%;
}

#app {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.main-wrapper {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  height: 100%;
}


@media screen and (max-width: 600px) {
  .headline {
    font: $f-h1-mob;
  }
}
